<h2>CATEGORY DETAILS</h2>
<hr>

<div class="details">
    <ul *ngIf="categoryItem">
        <li>
            <strong>ID:</strong> {{ categoryItem.categoryId }}
        </li>
        <li>
            <strong>NAME:</strong> {{ categoryItem.name }}
        </li>
        <li>
            <strong>CREATION DATE:</strong> {{ categoryItem.creationDate | date: 'dd/MM/yyyy'}}
        </li>
    </ul>
</div>

<div class="edit">
    <app-button class="editButton" [buttonText]="'EDIT CATEGORY'" (onButtonClick)="handleEditButton()" ></app-button>

    <form *ngIf="edit" >
        <label for="name">NAME</label> <br>
        <input type="text" [(ngModel)]="name" name="name"> <br>
    
        <label for="creationDate">CREATION DATE</label> <br>
        <input type="date" [(ngModel)]="creationDate" name="creationDate"> <br>
    
        <button (click)="handleEditSaveButton()">SAVE</button>
    </form>
</div>

