<app-filter  [filterOptions]="filterOptions" (applyFilterEvent)="applyFilter($event)" (clearFilterEvent)="clearFilter()"></app-filter>

<div class="table-conteiner">
    <div class="addButton">
        <button type="button" (click)="handleNewCommentItemClicked()">ADD COMMENT</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>COMMENT</th>
                <th>DETAILS</th>
                <th>DELETE COMMENT</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let commentItem of commentList | slice: (pageIndex * pageSize) : ((pageIndex * pageSize) + pageSize)">
                <td> {{ commentItem.commentId }} </td>
                <td> {{ commentItem.comment }} </td>
                <td>
                    <a [routerLink]="['/comment-details' , commentItem.commentId]">DETAILS </a>
                </td>
                <td>
                    <app-button [buttonText]="'Delete'" [id] = "commentItem.commentId" (onButtonClick)="handleDeleteButton($event)"></app-button>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="pagination-buttons">
        <button type="button" (click)="handlePreviousPageButton()" 
        [disabled]="pageIndex === 0">PREVIOUS</button>

        <button type="button" (click)="handleNextPageButton()" 
        [disabled]="pageIndex === totalPage - 1">NEXT</button>
    </div>

</div>
