<div class="navbar">
    <ul>
        <li>
            <a [routerLink]="'home'"><mat-icon>home</mat-icon>HOME</a>
        </li>
        <li>
            <a [routerLink]="'user-list'"><mat-icon>people</mat-icon>USER</a>
        </li>
        <li>
            <a [routerLink]="'post-list'" ><mat-icon>library_books</mat-icon>POST</a>
        </li>
        <li>
            <a [routerLink]="'category-list'" ><mat-icon> category</mat-icon>CATEGORY</a>
        </li>
        <li>
            <a [routerLink]="'comment-list'" ><mat-icon> mode_comment</mat-icon>COMMENT</a>
        </li>
    </ul>
</div>

