<div class="filter">
    <app-filter  [filterOptions]="filterOptions" (applyFilterEvent)="applyFilter($event)" (clearFilterEvent)="clearFilter()"></app-filter>
</div>

<div class="table-conteiner">
    <div class="addButton">
        <button type="button" (click)="handleNewPostItemClicked()">ADD POST</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>VIEW COUNT</th>
                <th>DETAILS</th>
                <th>DELETE POST</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let postItem of postList | slice: (pageIndex * pageSize) : ((pageIndex * pageSize) + pageSize)">
                <td> {{ postItem.postId }} </td>
                <td> {{ postItem.title }} </td>
                <td> {{ postItem.viewCount }} </td>
                <td>
                    <a [routerLink]="['/post-details' , postItem.postId]"> DETAILS </a>
                </td>
                <td>
                    <app-button [buttonText]="'Delete'" [id] = "postItem.postId" (onButtonClick)="handleDeleteButton($event)"></app-button>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="pagination-buttons">
        <button type="button" (click)="handlePreviousPageButton()" 
        [disabled]="pageIndex === 0">Previous</button>

        <button type="button" (click)="handleNextPageButton()" 
        [disabled]="pageIndex === totalPage - 1">Next</button>
    </div>

</div>




