<div class="table-conteiner">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Creation Date</th>
                <th>isActive</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userItem of userList | slice: (pageIndex * pageSize) : ((pageIndex * pageSize) + pageSize)">
                <td>{{ userItem.userId }}</td>
                <td>{{ userItem.username}}</td>
                <td>{{ userItem.email}}</td>
                <td>{{ userItem.creationDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{ userItem.isActive}}</td>
                <td>
                    <a [routerLink]="['/user-details' , userItem.userId]">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="pagination-buttons">
        <button type="button" (click)="handlePreviousPageButton()" 
        [disabled]="pageIndex === 0">Previous</button>

        <button type="button" (click)="handleNextPageButton()" 
        [disabled]="pageIndex === totalPage - 1">Next</button>
    </div>
</div>


