<form (submit)="applyFilter({filterBy: this.filterBy, filterValue: this.filterValue })">

    <label for="filterBy"> Filter By </label>
    <select [(ngModel)]="filterBy" name="filterBy" >
        <option *ngFor="let option of filterOptions" [value]="option"> {{ option | uppercase }} </option>
    </select>

    <label for="filterValue"> Filter Value </label>
    <input type="text" [(ngModel)]="filterValue" name="filterValue" >
    <div>
        <button type="submit">Apply</button>
        <button (click)="clearFilter()">Clear</button>
    </div>

</form>