<h2>User Details</h2>
<hr>

<ul *ngIf="userItem">
    <li>
        <strong>ID:</strong> {{ userItem.userId }}
    </li>
    <li>
        <strong>Username:</strong> {{ userItem.username }}
    </li>
    <li>
        <strong>Email:</strong> {{ userItem.email }}
    </li>
    <li>
        <strong>Creation Date:</strong> {{ userItem.creationDate | date: 'dd/MM/yyyy'}}
    </li>
    <li>
        <strong>Is Active:</strong> {{ userItem.isActive }}
    </li>
</ul>

<app-button [buttonText]="'edit'" (onButtonClick)="handleEditButton()" ></app-button>

<form *ngIf="edit" >
    <label for="username">Username</label>
    <input type="text" [(ngModel)]="username" name="username"> <br>

    <label for="email">Email</label>
    <input type="email" [(ngModel)]="email" name="email"> <br>

    <label for="creationDate">Creation Date</label>
    <input type="date" [(ngModel)]="creationDate" name="creationDate"> <br>

    <label for="isActive">User Activation</label>
    <select [(ngModel)]="isActive" name="isActive"> <br>
        <option value="true">Active</option>
        <option value="false">Not Active</option>
    </select>
    <button (click)="handleEditSaveButton()">Save</button>
</form>

