<div class="table-conteiner">
    <div>
        <button type="button" (click)="handleNewCategoryItemClicked()">Add Category</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let categoryItem of categoryList | slice: (pageIndex * pageSize) : ((pageIndex * pageSize) + pageSize)">
                <td>{{ categoryItem.categoryId }}</td>
                <td>{{ categoryItem.name}}</td>
                <td>
                    <a [routerLink]="['/category-details' , categoryItem.categoryId]">Details</a>
                </td>
                <td>
                    <app-button [buttonText]="'Delete'" [id] = "categoryItem.categoryId" (onButtonClick)="handleDeleteButton($event)"></app-button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="pagination-buttons">
        <button type="button" (click)="handlePreviousPageButton()" 
        [disabled]="pageIndex === 0">Previous</button>

        <button type="button" (click)="handleNextPageButton()" 
        [disabled]="pageIndex === totalPage - 1">Next</button>
    </div>
</div>