<div>
    <label>Username</label> <br>
    <input type="text" [(ngModel)]="userItem.username" required #username = "ngModel" >

</div>
<div>
    <label>Email</label> <br>
    <input type="email" [(ngModel)]="userItem.email" required #email = "ngModel">
</div>
<div>
    <label>Creation Date</label> <br>
    <input type="date" [(ngModel)]="userItem.creationDate" required #creationDate = "ngModel">
</div>
<div>
    <label>User State</label> <br>
    <input type="text" [(ngModel)]="userItem.isActive" required #isActive = "ngModel">
</div>
<div>
    <button type = "button" (click)="handleSaveUserItem()"> Add New User </button>
    <p *ngIf="isSuccess">New user successfully added</p>
</div>




