<h2>Post Details</h2>
<hr>

<ul *ngIf="postItem">
    <li>
        <strong>POST ID:</strong> {{ postItem.postId }}
    </li>
    <li>
        <strong>USER ID:</strong> {{ postItem.userId }}
    </li>
    <li>
        <strong>USERNAME</strong> {{ userItem.username }}
    </li>
    <li>
        <strong>CATEGORY ID:</strong> {{ postItem.categoryId }}
    </li>
    <li>
        <strong>TITLE:</strong> {{ postItem.title }}
    </li>
    <li>
        <strong>CONTENT:</strong> {{ postItem.content }}
    </li>
    <li>
        <strong>VIEW COUNT:</strong> {{ postItem.viewCount }}
    </li>
    <li>
        <strong>Creation Date:</strong> {{postItem.creationDate | date: 'dd/MM/yyyy'}}
    </li>
    <li>
        <strong>IS PUBLISHED:</strong> {{ postItem.isPublished }}
    </li>
</ul>

<app-button [buttonText]="'edit'" (onButtonClick)="handleEditButton()" ></app-button>

<form *ngIf="edit">
    <label for="title">TITLE</label>
    <input type="text" [(ngModel)]="title" name="title"> <br>

    <label for="content">CONTENT</label>
    <textarea type="text" [(ngModel)]="content" name="content"></textarea> <br>

    <label for="viewCount">VIEW COUNT</label> <br>
    <input type="number" [(ngModel)]="viewCount" name="viewCount" >

    <label for="creationDate">CREATION DATE</label>
    <input type="date" [(ngModel)]="creationDate" name="creationDate"> <br>

    <label for="username">USERNAME</label>
    <select [(ngModel)]="this.userId" name="user">
        <option *ngFor="let user of userList" [value]="user.userId" >
            {{ user.username }}
        </option>
    </select>

    <label for="isPublished">POST PUBLİSHED</label>
    <select [(ngModel)]="isPublished" name="isPublished"> <br>
        <option value="true">Active</option>
        <option value="false">Not Active</option>
    </select>

    <button (click)="handleEditSaveButton()">Save</button>
</form>