<h2>COMMENT DETAILS</h2>
<hr>

<div class="details">
    <ul *ngIf="commentItem">
        <li>
            <strong>COMMENT ID:</strong> {{ commentItem.commentId }}
        </li>
        <li>
            <strong>POST ID:</strong> {{ commentItem.postId }}
        </li>
        <li>
            <strong>POST:</strong> {{ commentItem.postId }}
        </li>
        <li>
            <strong>USER ID:</strong> {{ commentItem.userId }}
        </li>
        <li>
            <strong>USERNAME:</strong> {{ userItem.username }}
        </li>
        <li>
            <strong>COMMENT:</strong> {{ commentItem.comment }}
        </li>
        <li>
            <strong>CREATION DATE:</strong> {{commentItem.creationDate | date: 'dd/MM/yyyy'}}
        </li>
        <li>
            <strong>IS CONFIRMED:</strong> {{ commentItem.isConfirmed }}
        </li>
    </ul>
</div>

<div class="edit">
    <app-button class="editButton" [buttonText]="'EDIT COMMENT'" (onButtonClick)="handleEditButton()" >EDIT COMMENT</app-button>

<form *ngIf="edit">
    <label for="comment">COMMENT</label> <br>
    <input type="text" [(ngModel)]="comment" name="comment"> <br>

    <label for="creationDate">CREATION DATE</label> <br>
    <input type="date" [(ngModel)]="creationDate" name="creationDate"> <br>

    <label for="username">USERNAME</label> <br>
    <select [(ngModel)]="this.userId" name="user"> 
        <option *ngFor="let userItem of userList" [value]="userItem.userId" >
            {{ userItem.username }}
        </option>
    </select> <br>

    <label for="title">POST</label> <br>
    <select [(ngModel)]="this.postId" name="post">
        <option *ngFor="let postItem of postList" [value]="postItem.postId" >
            {{ postItem.title }}
        </option>
    </select> <br>

    <label for="isConfirmed">COMMENT CONFIRMED</label> <br>
    <select [(ngModel)]="isConfirmed" name="isConfirmed"> 
        <option value="true">CONFIRMED</option>
        <option value="false">NOT CONFIRMED</option>
    </select> <br>

    <button (click)="handleEditSaveButton()">SAVE</button>
</form>
</div>

